.custom-table {
    width: 100%;
    text-align: center;
    font-size: 0.625rem;
    line-height: 1.2;
    color: #004273;

    th,
    tr {
        border-width: 1px !important;
        border-top: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
        border-bottom: 0.9px solid #ddd;
    }

    .no-border {
        th {
            border: 0 !important;
        }
    }

    td {
        padding: 0.80rem;
    }

    tr:first-child {
        th {
            border-bottom: 3px solid #004273;
        }
    }

    tr:nth-child(even) {
        background: #fafafa;
    }

    tr:nth-child(odd) {
        background: #e1ecf2;
    }

    th {
        background-color: white !important;
        padding: 0.80rem;
    }
}