form {
    .etik-btn {
        background-color: #1b3057;
        border-width: 2px;
        border-color: #5683ad;
        color: white;
        &:hover {
            color: aliceblue;
        }
    }
}
