.card-container {
    height: 262px;
    position: relative;
}
.grad1 {
    border-radius: 10px;
    white-space: nowrap;
    position: absolute;
    background-repeat: no-repeat;
    height: 166px;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 66, 115, 0) 0%, #d9000d 100%);
    min-width: 195px;
}
.centered-text {
    position: absolute;
    top: 50%;
    color: white;
    left: 50%;
    transform: translate(-50%, 100%);
    font-size: 1rem;
}
.card-img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-width: 200px;
}
.card-padding{
    padding-left: 0;
    transform: translateX(4%);
}
@include media-breakpoint-between(xs, md) {
    .card-container {
        width: 100%;
        height: 100%;
        img {
            height: 100%;
        }
    }
    .card-padding{
        padding-left: 3%;
    }
}
