@@for (var i = 0; i < 2; i++) {
  <div class="my-3">
    <div class="col-2">
      <h4 class="text-secondary fw-normal mb-3">`+ arr[i] +`</h4>
    </div>
    <div class="row">
      @@for (var i = 0; i < 4; i++) {
        <div class="col-lg-3 col-6 padding-card">
          <div class="card mb-3 custom-card">
            <div class="card-body bg-light rounded-2 w-100 padding-card">
              <p class="fs-12">Lorem ipsum dolor sit amet, consectetur</p>
              <a href="#" class="card-link" aria-label="link"><i class="ms-icon ms-icon-arrow-down text-danger"></i></a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}